.count-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5%;
    border-width: 2px;
    width: 600px;
    margin: auto;
}
